################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/package-lock.json
/.routify
/node_modules
/.vs/bioProFarDev/v17
/.vs
/android/app
/android
/eas.json
/dist/client
